body {
    font-family: Verdana, sans-serif;
    background-color: #2f0000;
    text-align: center;
}

header {
  background-color: #2f0000;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  display: block;
}

/* меню */
.menu {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* посилання */
.menu a {
  text-decoration: none; 
  color: rgb(255, 254, 254);
  font-size: 14px;
  font-family: Arial, sans-serif;
  transition: 0.2s;
}

/* ефект при наведенні */
.menu a:hover {
  color: #650000;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero {
  height: 105vh;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
              #2f0000;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* текст зліва */
.hero-content {
  position: relative;
  color: white;
  transform: translateY(-60px);
  max-width: 400px;
  margin-left: 60px;
}

/* заголовок */
.hero-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

/* текст */
.hero-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* кнопка */
.btn {
  background: #650000;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #ff2a2a;
}

/* текст під заголовком */
.subtitle {
  font-size: 14px;
  color: #ccc; 
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer {
  background: #121111;
  color: white;
  margin-top: 50px;
}

/* блок під логотипом */
.footer-info {
  display: flex;
  gap: 40px; 
  margin-top: 15px;
  align-items: center;
}

/* верхня лінія */
.footer-top {
  height: 6px;
  background: #650000;
  width: 100%;
}

/* основа */
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px; 
  padding: 40px 60px;
  align-items: flex-start;
}


/* ліва частина */
.footer-left {
  max-width: none;
}

.footer-left .logo img {
  height: 40px;
  margin-bottom: 15px;
}

/* заголовки */
.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}


.footer a:hover {
  color: white;
}

/* блоки */
.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
    display: block;
    padding: 10px 0;
}

/* карта */
.map-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.map-link img {
  width: 18px;
  border-radius: 6px;
}

/* графік */
.footer-work {
  max-width: 200px;
  font-size: 14px;
  color: #ccc;
}

.footer-work p:not(.footer-title) {
  display: inline;
}

.footer-work p:not(.footer-title):not(:last-child)::after {
  content: " | ";
}






/* базові стилі */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* 📱 планшет */
@media (max-width: 992px) {
    .footer-content {
        flex-wrap: wrap;
    }

    .footer-left,
    .footer-links {
        width: 100%;
    }
}

/* 📱 телефон */
@media (max-width: 700px) {

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .footer-left {
        text-align: center;
        width: 100%;
    }

    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .address,
    .footer-work {
        text-align: center;
    }

    .map-link {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .footer-info {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }
}